#app {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#canvas_holder {
    position: absolute;
    top: 0;
    right: 500px;
    bottom: 0;
    left: 0;
    border-right: 1px solid silver;
    overflow: hidden;
}

#devarea {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 500px;
}

#transport {
    padding: 0.25em;
    border-bottom: 1px solid silver;
    position: relative;
    cursor: default;
}

button {
    border: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 2px;
    text-indent: 32px;
    cursor: pointer;
    position: relative;
    outline: 0;
}

button:focus,
button:active {
    outline: 1px solid orange;
}

button::-moz-focus-inner {
    border: 1px solid orange;
}

button.green {
    background: #23a023;
    box-shadow: 1px 1px 0 1px #307030;
}

button.green:hover {
    box-shadow: 1px 1px 0 1px #307030, 1px 1px 2px 1px #1bd61b;
}

button.yellow {
    background: #dfdc27;
    box-shadow: 1px 1px 0 1px #96930e;
}

button.yellow:hover {
    box-shadow: 1px 1px 0 1px #a8a60d, 1px 1px 2px 1px #fffb0c;
}

button.red {
    background: #d81313;
    box-shadow: 1px 1px 0 1px #8d0a0a;
}

button.red:hover {
    box-shadow: 1px 1px 0 1px #8d0a0a, 1px 1px 2px 1px #f85757;
}

button.blue {
    background: #23a0ff;
    box-shadow: 1px 1px 0 1px #1472b9;
}

button.blue:hover {
    box-shadow: 1px 1px 0 1px #1472b9, 1px 1px 2px 1px #50b3ff;
}

button.disabled {
    background: #d6d6d6 !important;
    box-shadow: 1px 1px 0 1px #acacac !important;
    cursor: default;
}

#stop {
    display: none;
}

#stop::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px;
    width: 0;
    height: 16px;
    border-right: 16px solid white;
}

#pause {
    display: none;
}

#pause::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px;
    width: 0;
    height: 16px;
    border-right: 6px solid white;
}

#pause::before {
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    margin: 8px;
    width: 0;
    height: 16px;
    border-left: 6px solid white;
}

#sfwd::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px;
    width: 0;
    border-left: 8px solid white;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

#sfwd::before {
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    margin: 8px;
    width: 0;
    height: 16px;
    border-left: 6px solid white;
}

#play::after {
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    margin: 8px;
    width: 0;
    border-left: 16px solid white;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

#ffwd::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px;
    width: 0;
    border-left: 8px solid white;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

#ffwd::before {
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    margin: 8px;
    width: 0;
    border-left: 8px solid white;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

#file {
    float: right;
}

#load:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 8px;
    border-bottom: 4px solid white;
}

#load:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 8px;
    border-bottom: 8px solid white;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

button.as-link {
    width: auto;
    height: auto;
    overflow: auto;
    background: none;
    border-radius: 0;
    text-indent: 0;
    text-decoration: underline;
    color: cornflowerblue;
}

button.as-link:hover,
button.as-link:focus {
    color: #3e73d4;
}

button.naked {
    width: auto;
    height: auto;
    overflow: auto;
    background: none;
    border-radius: 0;
    text-indent: 0;
    color: inherit;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

#flags {
    float: right;
    position: relative;
    top: 0.75em;
    right: 0.5em;
    text-align: right;
    color: gray;
    font: 100% monospace;
}

#flags input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

#flags label:hover,
#flags label:focus {
    color: #676774;
    text-decoration: underline;
    cursor: pointer;
}

.CodeMirror {
    border-bottom: 1px solid silver;
    min-height: 50%;
}

#disk {
    display: none;
    overflow: auto;
    border-bottom: 1px solid silver;
    min-height: 50%;
}

#save_menu {
    border-bottom: 1px solid silver;
}

#save_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    font-family: monospace;
}

#save_menu button {
    display: inline-block;
    padding: 0.25em 1em;
    cursor: pointer;
    color: gray;
}

#save_menu button:hover {
    color: #444;
    text-decoration: underline;
}

#saves {
    list-style: none;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

#saves li {
    display: flex;
    align-items: center;
    padding: 0.25em;
    padding-left: 2em;
    color: #555;
    border: 1px solid white;
    border-bottom-color: gainsboro;
    position: relative;
    box-sizing: border-box;
    height: 2.5em;
}

#saves li.currently-loaded {
    background: #daeaff;
    border-bottom-color: white;
}

#saves li.currently-loaded::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.8em 0.5em;
    width: 0;
    height: 0;
    border-left: 8px solid #555;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

#saves li.currently-loaded::before {
    content: "Save [Ctrl+S]";
    position: absolute;
    right: 0.25em;
    opacity: 0.6;
    font-style: italic;
}

#saves li.currently-loaded:hover::before {
    display: none;
}

#saves li:hover {
    cursor: pointer;
    background: lightsteelblue;
    border-bottom-color: white;
    color: white;
}

#saves li:hover::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.8em 0.5em;
    width: 0;
    height: 0;
    border-left: 8px solid white;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

#saves .name {
    flex: 1;
}

#saves button {
    display: none;
    width: 22px;
    aspect-ratio: 1;
}

#saves li:hover button {
    display: block;
    cursor: pointer;
}

#saves button div {
    position: relative;
    box-sizing: border-box;
    line-height: 100%;
    /* transform: scale(.7); */
    margin: -0.25em 0.125em;
}

#saves .delete div {
    width: 12px;
    height: 14px;
    border: 2px solid;
    border-left: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: 7px;
}

#saves .delete div::after,
#saves .delete div::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}

#saves .delete div::before {
    background: linear-gradient(to left, currentColor 18px, transparent 0) no-repeat center center/10px 2px;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    box-shadow: inset 0 0 0 2px;
    right: 2px;
    bottom: 1px;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
}

#saves .delete div::after {
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-left-radius: 1px;
    transform: rotate(-45deg);
    top: 0;
    left: -5px;
}

#saves .delete:hover {
    filter: drop-shadow(0 0 1px red);
}

#saves .save div {
    width: 16px;
    height: 6px;
    border: 2px solid;
    border-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-top: calc(8px - 0.25em);
}

#saves .save div::after {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: 2px;
    bottom: 4px;
}

#saves .save div::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 10px;
    background: currentColor;
    left: 5px;
    bottom: 5px;
}

#saves .save:hover {
    filter: drop-shadow(0 0 1px green);
}

#out {
    padding: 0.5em;
}

#help_dialog {
    position: relative;
    max-height: 90vh;
    min-width: 50vw;
    max-width: 70vw;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 black;
    font: 100% monospace;
}

#help_dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
}

#help_dialog .dialog-bar {
    position: sticky;
    top: 0;
    right: 1em;
    text-align: right;
    margin-bottom: -1.5em;
}

#help_dialog button.close {
    background: #f76e13;
    box-shadow: 1px 1px 0 1px #c54e09;
}

#help_dialog button.close::before,
#help_dialog button.close::after {
    content: " ";
    position: absolute;
    display: block;
    top: 17px;
    left: 17px;
    transform: rotate(45deg);
    margin: -12px -2px;
    width: 0;
    height: 24px;
    border-left: 3px solid white;
}

#help_dialog button.close::after {
    transform: rotate(-45deg);
}

#help_dialog button.close:hover {
    box-shadow: 1px 1px 0 1px #c54e09, 1px 1px 2px 1px #ff7f2a;
}

#help_dialog h2 {
    font-size: 120%;
    margin-top: 1.25em;
}

#help_dialog .code-example {
    background-color: #eee;
    padding: 0.25em 0;
}

#help_dialog dt {
    font-weight: bold;
}

#help_dialog dd {
    margin-left: 1.25em;
    margin-bottom: 0.5em;
}

#useful_links {
    display: inline-block;
    padding: 0.25em;
    line-height: 1;
    position: absolute;
    bottom: 0;
    right: 0;
}
#useful_links > a {
    color: inherit;
    display: inline-block;
    height: 32px;
    width: 32px;
    opacity: 0.25;
}
#useful_links > a:hover {
    opacity: 1;
}